<!DOCTYPE html>
<html lang="es">

<head>
    <%- include("../partials/head", {title: "Perfil de usuario"}) %>
</head>

<body>
    <!-- HEADER -->
    <%- include("../partials/header", {user}) %>

    <section class="body-section">
        <div class="container">
            <div class="user">
                <figure class="user_avatar">
                    <img src="/images/users/<%= user.image %>" alt="imagen de usuario">
                </figure>
                <div class="user_data">
                    <h1><%= user.first_name %> <%= user.last_name %></h1>
                    <h3><%= user.business_name %></h3>
                    <p><%= user.email %></p>
                    <% if (!user.admin) { %>
                        <a href="/products/order-history"><button class="btn btn-success profile-link">Historial de compra</button></a>
                    <% } %>
                    <% if (user.admin) { %>
                        <a href="/products"><button class="btn btn-primary profile-link">Administrar productos</button></a>
                    <% } %>
                    <form action="/users/logout" method="POST">
                        <button class="btn btn-danger" type="submit">Cerrar sesión</button>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!-- FOOTER -->
    <%- include("../partials/footer") %>

    <!-- SCRIPTS -->
    <%- include("../partials/scripts") %>
</body>

</html>