<!DOCTYPE html>
<html lang="es">

<!-- HEAD -->
<%- include('partials/head')%>

<body>

    <!-- HEADER -->
    <%- include('partials/header')%>

    <!-- BANNER -->
    <%- include('partials/banner')%>

    <!-- MAIN -->
    <main>
        <div class="container">
            <div class="row">
                <p class="col-12 info-home">路 Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem
                    numquam et sequi, aliquid nulla optio velit esse necessitatibus possimus vel.</p>
                <p class="col-12 info-home">路 Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem
                    numquam et sequi, aliquid nulla optio velit esse necessitatibus possimus vel.</p>
                <p class="col-12 info-home">路 Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem
                    numquam et sequi, aliquid nulla optio velit esse necessitatibus possimus vel.</p>
                <p class="col-12 info-home">路 Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem
                    numquam et sequi, aliquid nulla optio velit esse necessitatibus possimus vel.</p>
            </div>
        </div>
    </main>

    <!-- FOOTER -->
    <%- include('partials/footer')%>

    <!-- SCRIPTS -->
    <%- include('partials/scripts')%>
        
</body>

</html>