<!DOCTYPE html>
<html lang="es">

<head>
    <%- include("partials/head") %>
    <title><%= product.name %> | Pedí Fácil</title>
</head>

<body>
    <!-- HEADER -->
    <%- include("partials/header") %>

    <section class="body-section">
        <div class="container">
            <h2 class="product-detail_h2">Detalle del producto: <%= product.name %></h2>
            <section class="product-detail_section">
                <figure class="left">
                    <img src="/images/products/<%= product.image %>" alt="imagen de producto">
                </figure>
                <article class="right">
                    <h1><%= product.name %></h1>
                    <p><%= product.description %> </p>
                    <div class="price">
                        <span>$<%= formatPrice(product.price,product.discount) %></span>
                        <span class="discount"><% if (product.discount != 0) { %><%= product.discount %>% OFF<% } %></span>
                    </div>
                    <form>
                        <input type="number" class="form-control product-detail_quantity" id="product" name="product"
                            value="1">
                        <button type="submit" class="btn btn-primary product-detail_button"><i
                                class="fas fa-shopping-cart"></i> Añadir al carrito</button>
                    </form>
                </article>
            </section>
        </div>
    </section>

    <!-- FOOTER -->
    <%- include("partials/footer") %>
</body>

</html>