<!DOCTYPE html>
<html lang="es">

<head>
    <%- include("partials/head", {title: "Ups! Error"}) %>
</head>

<body>
    <!-- HEADER -->
    <%- include("partials/header") %>

    <div class="body-section">
        <div class="container">
            <div class="error">
                <p><i class="fas fa-exclamation-triangle"></i></p>
                <% if (typeof(error) != "undefined") { %>
                    <p><%= error.status %></p>
                    <span>Ups! Error trying to access to: <b><%= path %></b></span>
                <% } %>
                <% if (typeof(accessDenied) != "undefined") { %>
                    <span><b><%= accessDenied %></b></span>
                    <span>No tenés los permismos para ingresar a esta sección</span>
                <% } %>
            </div>
        </div>
    </div>

    <!-- FOOTER -->
    <%- include("partials/footer") %>

    <!-- SCRIPTS -->
    <%- include("partials/scripts") %>
</body>

</html>